@{
    ViewData["Title"] = "Centriq";
}

<main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2 class="rounded-2">Centriq Training</h2>
                <h5 class="rounded-2">Centriq Training is a comprehensive and specialized educational program designed to equip individuals with practical skills and knowledge in various fields of information technology (IT). This training focuses on preparing participants for successful careers in the rapidly evolving IT industry by offering hands-on experience, industry-relevant certifications, and an in-depth understanding of key IT concepts.</h5>

            </div>

            <div class="sub-title text-center">
                <h1 class="rounded-2">My Centriq Training Classmate</h1>
            </div>
            <div data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box rounded-2" style="">
                    <div class="icon">
                        <img src="~/assets/img/Classmates/Mallissa Photo.jpg" class="rounded-2" alt="Melisa Balino" height="200" width="200">
                    </div>
                    <h4><a class="text-decoration-underline" href="http://melissabalino.com/" target="_blank">Melissa Balino</a></h4>
                    <p>Melissa Balino is an up-and-coming<br /> full stack developer. Check her out!</p>
                </div>
            </div>
        </div>
    </section><!-- End Services Section -->
</main><!-- End #main -->