@{
    ViewData["Title"] = "Portfolio";
}

<main id="main">
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>My Projects</h2>
                <p>Down below you will see my previously completed projects, <br />with more detailed descriptions as well as projects to come in the future.</p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All Projects</li>
                        <li data-filter=".filter-app">C# Projects</li>
                        <li data-filter=".filter-card">Coming Soon</li>
                        <!-- <li data-filter=".filter-web">Web</li> -->
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/portfolio/DUNGEON1.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Anime Themed Dungeon App</h4>
                            <p>C#</p>
                            <div class="portfolio-links">
                                <a href="~/assets/img/portfolio/DUNGEON1.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="<strong>Anime Themed Dungeon App</strong> - Made by utilizing C# language which is a versatile programming language developed by Microsoft."><i class="bx bx-plus"></i></a>
                                <a href="~/portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/portfolio/huma-kabakci-oRk4Ep65tRc-unsplash.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>StoreFront Database - Coming Soon</h4>
                            <p>SQL</p>
                            <div class="portfolio-links">
                                <a href="~/assets/img/portfolio/huma-kabakci-oRk4Ep65tRc-unsplash.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="StoreFront Database - Coming Soon"><i class="bx bx-plus"></i></a>
                                <!-- <a href="" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/portfolio/ATM1.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>ATM App</h4>
                            <p>C#</p>
                            <div class="portfolio-links">
                                <a href="~/assets/img/portfolio/ATM1.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="<strong>ATM App</strong> - Made by utilizing C# language which is a versatile programming language developed by Microsoft."><i class="bx bx-plus"></i></a>
                                <a href="~/portfolio-detailsATM.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/portfolio/huma-kabakci-oRk4Ep65tRc-unsplash.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>StoreFront MVC - Coming Soon</h4>
                            <p>.NET core</p>
                            <div class="portfolio-links">
                                <a href="~/assets/img/portfolio/huma-kabakci-oRk4Ep65tRc-unsplash.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="StoreFront MVC - Coming Soon"><i class="bx bx-plus"></i></a>
                                <!-- <a href="" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/portfolio/MAGIC8BALL1.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Magic 8 Ball App</h4>
                            <p>C#</p>
                            <div class="portfolio-links">
                                <a href="~/assets/img/portfolio/MAGIC8BALL1.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="<strong>Magic 8 Ball App</strong> - Made by utilizing C# language which is a versatile programming language developed by Microsoft."><i class="bx bx-plus"></i></a>
                                <a href="~/portfolio-details8Ball.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/portfolio/huma-kabakci-oRk4Ep65tRc-unsplash.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Web API - Coming Soon</h4>
                            <p>Restful API</p>
                            <div class="portfolio-links">
                                <a href="~/assets/img/portfolio/huma-kabakci-oRk4Ep65tRc-unsplash.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web API - Coming Soon"><i class="bx bx-plus"></i></a>
                                <!-- <a href="" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/portfolio/MADLIB1.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Mad Lib App</h4>
                            <p>C#</p>
                            <div class="portfolio-links">
                                <a href="~/assets/img/portfolio/MADLIB1.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="<strong>Mad Lib App</strong> - Made by utilizing C# language which is a versatile programming language developed by Microsoft."><i class="bx bx-plus"></i></a>
                                <a href="~/portfolio-detailsMADLIB.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/portfolio/huma-kabakci-oRk4Ep65tRc-unsplash.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Coming soon</h4>
                            <p></p>
                            <div class="portfolio-links">
                                <a href="~/assets/img/portfolio/huma-kabakci-oRk4Ep65tRc-unsplash.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Coming soon"><i class="bx bx-plus"></i></a>
                                <!-- <a href="" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Portfolio Section -->
</main><!-- End #main -->