@{
    ViewData["Title"] = "Resume";
}

<main id="main">
    <!-- ======= Hero Section ======= -->
    <section id="car" class="d-flex align-items-center">
        <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
            <h1>Link To My Resume!</h1>
            <a href="~/assets/img/Blake-Harrison-Resume.pdf" target="_blank" class="btn-about">Resume</a>
        </div>
    </section><!-- End Hero -->
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>My Resume</h2>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h3 class="resume-title">Sumary</h3>
                    <div class="resume-item pb-0">
                        <h4>Blake Harrison</h4>
                        <p><em>Goal-Driven and Team-Based computer scientist, actively learning new things every day. Taking people's ideas and turning them into digital-life.</em></p>
                        <p>
                            <ul>
                                <li>Overland Park, KS</li>
                            </ul>
                        </p>
                    </div>

                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4>Highschool Diploma</h4>
                        <h5>2019 - 2023</h5>
                        <p><em>Blue Valley West Highschool, Overland Park, KS</em></p>
                        <p>As a recent Highschool Graduate, I am equipped with a diverse range of academic achievements and experiences. I have demonstrated the ability to engage in structured learning, critical thinking, problem-solving, and effective communication.</p>
                    </div>
                    <div class="resume-item">
                        <h4>Up-coming Centriq Graduate</h4>
                        <h5>August 2023 - October 2023</h5>
                        <p><em>Centriq Training - IT Training &amp; Certification</em></p>
                        <p>Currently working my way through the 2023 Centriq course!</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <h4>Head Shift-Manager</h4>
                        <h5>2020 - 2023</h5>
                        <p><em>Five Guys - 12025 Metcalf Ave, Overland Park, KS 66213</em></p>
                        <p>
                            <ul>
                                <li>Led a team by example, motivating them and providing guidance to adhere to company policies.</li>
                                <li>Adept at coordinating various aspects of the srestaurant operations, monitoring workflow and resolving any issues.</li>
                                <li>Utilized rapid decision-making when addressing unexpected challenges.</li>
                                <li>Aquired effective communication skills that was vital for coordinating tasks, sharing updates, and ensuring a collaborative environment.</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Resume Section -->
</main><!-- End #main -->